/********************
    Site wide styles
*********************/
*, *::before, *::after{box-sizing: border-box;}
body, html {
  margin: 0;
  font-size: 18px;
  font-family: "Exo", sans-serif;
  display: flex;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  flex-basis: 100%;
}
main{
  flex-basis: 100%;
}
p{
  margin: 0;
}
a{
  color: black;
  text-align: center;
}
/*******************
    Nav-bar styling
********************/
nav, .tab{
  position: relative;
  background-color: #01FE03;
  height: 100%;
  width: 100%;
  max-width: 200px;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #696969;
  font-size: 1.1rem;

}
.tab:hover {
  font-size: 1.2rem;
  transition-duration: 500ms;
  color: black;
}
.tab:hover, .tab[data-state=active] {
  cursor: pointer;
  filter: brightness(.75);
  color: black;
}

/*******************
  Home Page Styling
********************/
.splash-background{
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  filter: brightness(.65)
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.company-title {
  position: relative;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
}
.company-slogan{
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

/********************
  About Page Styling
*********************/
.about{
  height: 100%;
  flex-basis: 100%;
}
.slideshow{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  filter: brightness(.85);
  transition: background-image 1500ms ease-in-out;
}
.about-article{
  position: absolute;
  height: 88%;
  width: 60%;
  top: 7.5%;
  left: 10%;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 10px rgb(0,0,0);
  border-radius: 10px;
  color: white;
}
.about-article-header{
  font-size: 1.5rem;
  margin: .5em;
}
/*"Magic" image styling (based on screen size)*/
@media screen and (min-width:1100px) {
  .bo-magic{
    height: 55%;
    width: 50%;
    background-image: url("./assets/bo-before.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 25%;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
  }
  .bo-magic:hover{
    cursor: pointer;

  }
  .bo-magic:hover .magic-text{
      display: block;
  }
}
.magic-text {
  display: none;
  position: relative;
}
.about-article-text{
  margin: 1em;
  line-height: 1.75em;
}
/***********************
  Services Page Styling
************************/

.services{
  background-color: #696969;
  height: 100%;
  flex-basis: 100%;
  color: white;
}
.service-areas{
  width: 20%;
  font-size: 1.3rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 250px;
}
.service-header-container{
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-evenly;
}
.service-icon{
  height: 16px;
  width: 16px;
  color: #01FE03;
}
.service-city-container{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 5rem;
  text-align: center;
}
.service-city{
  height: 100%;
  width: 100%;
  background-position: center;
  filter: brightness(.65)
}
.service-city-text{
  position: relative;
  z-index: 3;
  bottom: 1.85em;
}

/***********************
  Contact page styling
************************/

.contact {
  background-color: #696969;
  height: 100%;
  flex-basis: 100%;
}
.left-contact{
  background-color: #01FE03;
  height: 100%;
  min-width: 170px;
  flex-basis: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: black;
  padding: 1em;
}
.right-contact{
  height: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.facebook-icon{
  height: 4rem;
  width: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/facebook-square.svg");
}

.social-media{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid black;
  flex-basis: 100%;
  margin: .55em 0;
}
.social-media-link{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85%;

}
.portfolio-pic{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 20rem;
  min-width: 175px;
  width: 40%;
  border-radius: 10px;
}
.contact-header{
  font-size: 1.65rem;
  border-bottom: 1px solid black;
  margin: 1em;
}

.hours-of-operation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone-label{
  margin: .15em;
}

.contact-text{
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}
